@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
.counter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
   
   .contadores-container{
    display: flex;
    
    text-align: center;
    padding: 0.5rem;
    button{
        padding: 0.2rem;
        background-color: black;
        color: #fff;
        cursor: pointer;
    }

    span{
        padding-right: 8rem;
    }
   }
   .addCart{
    background-color: rgb(25, 25, 85);
    color: #fff;
    padding: 0.5rem;
    margin-left: 5.5rem;
    margin-top: 1.2rem;
    cursor: pointer;
   }
}
//Productos principales / home

.product-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
  }
  .product-card{
    flex: 1 0 300px;
    padding:1rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 50px auto;
   &__image{
    width: 30%;
   } 
  }
.itemCart{
   background-color: rgb(206, 149, 149);
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
   gap: 1.2rem;
   margin: 30px auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
   div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   }
   img{
    width: 100%;
   }
   &__title{
    font-size: 25px;
     letter-spacing: 1px;
   }
   &__cantidad{
    font-size: 20px;
    letter-spacing: 1px;
   }
   &__precio{
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(19, 19, 88);
   }


   
}

//NAVBAR

.navBar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(231, 198, 198);
    position: fixed;    
    top: 0;
  

    .nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        &__brand{
            .nav__link{
                text-decoration: none;
                font-size: 30px;
                color: rgb(25, 25, 59);
            }
        }
       
       
    }
    ul{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
        
        li{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}


//Detalles del producto

.detail-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__detalles{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 5rem;
     
       
        span{
            padding-left: 8rem;
            color: rgb(37, 37, 90);
            font-weight: 700;
            font-size: 25px;
        }
        
    }
    
}

.precioTotal{
    background-color:rgb(214, 148, 24);
    border-radius: 5px;
    width: 50%;
    margin: 50px auto;
    font-size: 35px;
}
.carrito-vacio{
    width: 50%;
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size: 40px;
    }
    a{
        text-decoration: none;
        background-color: rgb(97, 31, 31);
        border-radius: 10px;
        color: #fff;
        font-size: 30px;
        text-align: center;
        padding: 0.5rem;
    
    }
}
.h1-cart{
    width: max-content;
    margin: 0 auto;
    margin-top: 5rem;
}
.form{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:70%;
    margin: 20px auto;
    margin-bottom: 10rem;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2rem;
    h3{
        font-size: 30px;
    }
    input{
        padding: 0.5rem;
        width: 60%;
    }
    input[type=submit]{
        background-image: linear-gradient(rgb(64, 64, 109),rgb(27, 27, 80));
        color: #fff;
        cursor: pointer;

    }
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
     width: 30%;
    justify-content: center;
    margin-left: 5rem;
    gap: 0.5rem;
    .terminarCompra{
        background-color: rgb(40, 40, 78);
        color: #fff;
        width:max-content;
        padding: 0.5rem;
        text-decoration: none;
        border-radius: 10px;
    }
    .seguirComprando{
        text-decoration: none;
        width: max-content;
        background-color: rgb(131, 6, 6);
        color: #fff;
        border-radius: 10px;
        padding: 0.5rem;
    }

}